<!doctype html>
<html lang="en" ng-app="neo4jExample">
<head>
  <meta charset="UTF-8">
  <title>Neo4j example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- libs -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- AngularJS example application -->
  <script>
    angular
      .module('neo4jExample', [])
      .controller('MainCtrl', function ($scope, $http) {
        $scope.nodes = [];


        $scope.show = function () {
          $http.get('/persons').then(function (resp) {
            $scope.nodes = resp.data;
          });
        };

        $scope.load = function () {
          return $http.get('/tools/load').then(function (resp) {
            $scope.show();
            return resp;
          });
        };

        $scope.drop = function () {
          $http.get('/tools/drop').then(function () {
            $scope.nodes = [];
          });
        };

        $scope.test = function () {
          $http.get('/tools/test').then(function () {

          });
        };


        $scope.show();
      });
  </script>

</head>

<body ng-controller="MainCtrl">
<div class="container">
  <div class="materia-prima">
    <h1>Materias Primas</h1>
    <input type="text" name="create-materia">
    <input type="text" name="update-materia">
  </div>
  <div class="productos-elaborados">
    <h1>Productos Elaborados </h1>
    <form role="search-producto" class="" id="search-producto">
      <input type="text" placeholder="Busca productos elaborados" name="search-producto">
  </div>
<!--   <a class="btn btn-default" ng-click="test()" role="button">test</a>
 -->
  <br><br>
  <p>-----------------------------------------------------------</p>
<!--   <form method="post" action="/addProducto">
    <label>Producto tipo</label>
    <select name="tipo">
        <option  value="AlimentosCongelados">Alimentos Congelados</option>
        <option value="Carnes">Carnes</option>
        <option value="ProductosFrescos">Productos Frescos</option>
        <option value="ProductosFrescos">Productos Frescos</option>
        <option value="Lacteos">Lacteos</option>
        <option value="Otros">Otros</option>
        <option value="leguminosas">Leguminosas</option>
        <option value="Basicos">Basicos</option>
    </select>
    <br>
    <label>Producto nombre</label>
    <input type="text" name="nombre">
    <br>
    <label>Producto cantidad</label>
    <input type="text" name="cantidad">
    <br>
    <label>Producto precio</label>
    <input type="text" name="precio">
    <br><br>
    <input type="submit" name="Subm">
  </form>
  <h1>Materias Primas</h1>
  <ul>
      <li>AlimentosCongelados</li>

          <table style="width:15%">
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
              </tr>
              <tr>
                <td><%=productos.nombre %></td>
                <td><%=productos.cantidad %></td>
                <td><%=productos.precio %></td>
              </tr>
            </table>
  </ul>
  <ul>
          <li>Carnes</li>

          <table style="width:15%">
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
              </tr>
              <tr>
                <td><%=carnes.nombre %></td>
                <td><%=carnes.cantidad %></td>
                <td><%=carnes.precio %></td>
              </tr>
            </table>

  </ul>
 -->
 <!-- -------------------------------------------------------------------- -->
 <!--  <h2>Neo4j example</h2>
  <a class="btn btn-default" ng-click="load()" role="button">Load</a>
  <a class="btn btn-default" ng-click="drop()" role="button">Drop</a> -->

  <div ng-repeat="node in nodes">
    <pre>{{node | json }}</pre>
  </div>
</div>

</body>
</html>
